body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    flex: 0 0 250px; /* Fixed width for sidebar */
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    margin-bottom: 20px;
}

.outline-btn {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #333;
    background: #fff;
}

/* Estilo para el contenedor del toggle */
.toggle-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    gap: 10px;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #4A90E2;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: #4A90E2;
    user-select: none; /* Evitar la selección del texto al hacer clic */
}

/* Ajustar el tamaño del checkbox */
.toggle-container input[type="checkbox"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Efecto de hover */
.toggle-container:hover {
    background: #4A90E2;
    color: #fff;
    border-color: #357ABD;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Efecto de clic */
.toggle-container:active {
    background: #357ABD;
    border-color: #2C6FA3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Efecto de foco para accesibilidad */
.toggle-container:focus-within {
    outline: none;
    box-shadow: 0 0 0 4px rgba(74, 144, 226, 0.4);
}

.info-box {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-grow: 1;
}

#clear {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #333;
    background: #fff;
}

#renderCanvas {
    flex-grow: 1;
    width: calc(100% - 250px); /* Subtract the width of the sidebar */
    height: 100%;
}

.dialog {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    z-index: 100;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-text {
    font-weight: bold;
    font-style: italic;
    background-color: yellow;
    padding: 5px;
    animation: blink 1s infinite;
}